# Compiler files
cache/
out/

# Ignores development broadcast logs
/broadcast

# Docs
docs/

# Dotenv file
.env

# IDEs
.idea
.vscode

# hardhat 
node_modules/
artifacts/
hh-debug.log
cache_hardhat/
typechain-v5/
typechain-v6/

# static analysis
aderyn.md
solhint.txt
slither.md